<!-- Handlebars.registerPartial('card', '{{card}}') -->

<div class="" id="">
Hello?
<!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Create</a>
<!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Reply</a>
    {{#each entry}}
		<p>Text : {{this.id}}. {{this.entry}}. {{this.context}}</p>
				
	{{/each}}
</div>