<!-- Handlebars.registerPartial('card', '{{card}}') -->
{{#each entry}}
    <div>
        <div class="container">
            <div class="row">
                <div class="">
                    <div class="card" style="border-color:#182b52;">
                        <div class="card-body">
                            {{!-- <h4 class="card-title" style="color:#182b52;">{{ this.id }}.</h4> --}}
                            <h4 class="text-muted card-subtitle mb-2">{{ this.entry }}.</h4>
                            <p class="card-text">{{this.context}}</p>
                            <a class="card-link waves-effect waves-light btn modal-trigger" href="#modal2" style="background-color:#182b52;padding-bottom:9px;">Reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}


