<div class="footer-basic" style="padding-top:25px;padding-bottom:10px;">
    <footer>
        <div class="social"><a href="#" style="background-color:#705885;color:#ffffff;"><i class="icon ion-social-instagram"></i></a><a href="#" style="background-color:#705885;"><i class="icon ion-social-snapchat" style="color:#ffffff;"></i></a><a href="#" style="background-color:#705885;"><i class="icon ion-social-twitter" style="color:#ffffff;"></i></a>
            <a
                href="#" style="background-color:#705885;"><i class="icon ion-social-facebook" style="color:#ffffff;"></i></a>
        </div>
        <ul class="list-inline" style="font-size:14px;">
            <li class="list-inline-item"></li>
            <li class="list-inline-item"><a href="#" style="color:#182b52;">CONTACT</a></li>
            <li class="list-inline-item"><a href="#" style="color:#182b52;">ABOUT</a></li>
            <li class="list-inline-item"><a href="#" style="color:#182b52;">TERMS</a></li>
            <li class="list-inline-item"><a href="#" style="color:#182b52;">PRIVACY POLICY</a></li>
        </ul>
        <p class="copyright" style="color:#182b52;">DEFINE.THIS © 2018</p>
    </footer>
</div>