<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">DEFINE</a></li>
        </ul>
        {{!-- copyright --}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">FACEBOOK</a></li>
            <li><a href="#">TWITTER</a></li>
        </ul>
    </div>
</nav>  