<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color:#dea07b;color:#182b52;">
        <div class="container"><a class="navbar-brand" href="#">DEFINE.THIS</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color:#ffffff;">HOME</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link modal-trigger" href="#modal1" style="color:#ffffff;">ASK</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link modal-trigger" href="#modal2" style="color:#ffffff;">DEFINE</a></li>
                </ul><span class="navbar-text actions"> <a href="#" class="login" style="color:#ffffff;">REGISTER</a><a class="btn btn-light action-button" role="button" href="#" style="background-color:#182b52;padding-bottom:9px;">Sign Up</a></span></div>
        </div>
    </nav>
</div>
<div></div>       