<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#" class="logo">DEFINE.THIS</a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ASK</a></li>
            <li><a href="#">DEFINE</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">REGISTER</a></li>
            <li><a href="#">LOGIN</a></li>
        </ul>
    </div>
</nav>       