<div class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0" style="height:10px;padding-top:5px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body" style="height:218px;background-image:url(&quot;assets/img/key.png&quot;);background-repeat:no-repeat;background-position:center;">
                <form>
                    <div class="form-group"><input class="form-control" type="text"><label>Username</label></div>
                    <div class="form-group"><input class="form-control" type="email"><label>Email</label></div>
                </form>
            </div>
            <div class="modal-footer justify-content-center border-top-0"><a class="btn btn-primary border-0" role="button" href="#" style="background-color:#182b52;">Log In</a></div>
        </div>
    </div>
</div>