<div class="container">
    <!-- search -->
    <div class="row">
        <form>
            <div class="col s9">
                <input id="search" type="search" value="ASK ME ANYTHING" required>
            </div>
            <div class="col s3">
                <button type="submit" class="button">Define.this</button>
            </div>
        </form>        
    </div>

    <!-- 3 most recent -->
    <div class="row">
    {{#each entry}}
		<p>Text : {{this.id}}. {{this.entry}}</p>
				
	{{/each}}
        <div class="col s4">
            <div id="indexCard">
                {{> card }} 
            </div>
        </div>
        <div class="col s4">
            <div id="indexCard">
                {{> card }}
            </div>
        </div>
        <div class="col s4">
            <div id="indexCard">
                {{> card }}
            </div>
        </div>
    </div>

    <!-- place holders, stretch goals -->
    <div class="row">
        <div class="col s3">
            <div class="card center">
                <div class="card-section">
                    <div class="smBold">DEFINE.THIS OF THE DAY</div>
                </div>
                <div class="card-divider">
                    <div class="lrgBold">WORD</div>
                    <div class="smBold">DEFINITION</div>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card center">
                    <div class="card-section">
                        <div class="smBold">TOPIC.THIS OF THE DAY</div>
                    </div>
                    <div class="card-divider">
                        <div class="lrgBold">TOPIC</div>
                        <div class="smBold">COPY</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card center">
                    <div class="card-section">
                        <div class="smBold">ASKED.THIS OF THE DAY</div>
                    </div>
                    <div class="card-divider">
                        <div class="lrgBold">QUESTION</div>
                        <div class="smBold">COPY</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card center">
                    <div class="card-section">
                        <div class="smBold">USER.THIS OF THE DAY</div>
                    </div>
                    <div class="card-divider">
                        <div class="lrgBold">NAME</div>
                        <div class="smBold">COPY</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Submit Modal New Entry -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>New Entry:</h4>
            <p>A bunch of text</p>
<!-- Submit Modal New Entry Form-->
                <form action="/index/create" method="POST">
                    {{!-- <textarea id="textarea1" class="materialize-textarea" name="entry" id="entry"></textarea> <label for="textarea1">Textarea</label> --}}
                    <input type="text" class="form-control" name="entry" value="" id="entry" placeholder="Keyword/Phrase">
                    <input type="text" class="form-control" name="userId" value="" id="userId" placeholder="User Name">
                    <input type="text" class="form-control" name="context" value="" id="context" placeholder="Context">
                    <input type="text" class="form-control" name="contextLink" value="" id="contextLink" placeholder="Context Link">
				    {{!-- <button  class="btn btn-primary" id="text-enter-button">Submit</button> --}}
			    </form>
        </div>
        <div class="modal-footer">
        <a href="#!" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
        </div>
    </div>



<!-- Submit Modal New Reply -->
    <div id="modal2" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>New Reply:</h4>
            <p>A bunch of text</p>
<!-- Submit Modal New Entry Form-->
                <form action="/index/reply" method="POST">
                    Characters Remaining:<span class="char-count">420</span>
                    <textarea id="textarea1" data-length=420 class="materialize-textarea" name="entry" id="entry" placeholder="Write the Defintion here"></textarea>
                    <input type="text" class="form-control" name="en" value="" id="entry" placeholder="Keyword/Phrase">
                    <input type="text" class="form-control" name="userId" value="" id="userId" placeholder="User Name">
                    <input type="text" class="form-control" name="context" value="" id="context" placeholder="Context If Applicable">
                    <input type="text" class="form-control" name="contextLink" value="" id="contextLink" placeholder="Context Link If Applicable">
				    {{!-- <button  class="btn btn-primary" id="text-enter-button">Submit</button> --}}
			    </form>
        </div>
        <div class="modal-footer">
        <a href="#!" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
        </div>
    </div>