<!-- search -->
<div class="card align-self-center border-0" style="padding-top:15px;">
    <div class="card-body align-self-center" style="padding-left:0px;padding-top:0px;">
        <input type="text" name="search" placeholder="WHAT SHALL I DEFINE" style="width:670px;margin-left:0px;color:#182b52;">
        <a class="btn btn-primary border-0" role="button" href="#" style="font-size:12px;background-color:#182b52;padding-bottom:6px;margin-bottom:5px;margin-left:15px;">DEFINE.THIS</a>
    </div>
</div>

    <!-- 3 most recent -->
    <div class="row">
        {{> card}}
    </div>

<!-- place holders, stretch goals -->
<div style="padding-right:0px;padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="border-color:#182b52;">
                    <div class="card-body" style="height:315px;">
                        <h6 class="text-center text-muted card-subtitle mb-2" style="font-size:14px;">DEFIN.THIS OF THE DAY</h6>
                        <h4 class="text-center card-title" style="color:#182b52;">COOKIES</h4>
                        <p class="text-center align-content-center card-text">This is the data sent by an Internet server to a browser. Each time the browser accesses the same server, it sends the data back as a means of tracking how (and how often) it accesses the server.<br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="border-color:#182b52;">
                    <div class="card-body" style="min-height:315px;">
                        <h6 class="text-center text-muted card-subtitle mb-2" style="font-size:14px;">TOPIC. THIS OF THE DAY</h6>
                        <h4 class="text-center card-title" style="color:#182b52;">HANDLEBARS</h4>
                        <p class="text-center card-text">Handlebars provides the power necessary to let you build semantic templates<strong> </strong>effectively with no frustration.<br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="border-color:#182b52;">
                    <div class="card-body" style="min-height:315px;">
                        <h6 class="text-center text-muted card-subtitle mb-2" style="font-size:14px;">ASK.THIS OF THE DAY</h6>
                        <h4 class="text-center card-title" style="color:#182b52;">JS CALLBACK</h4>
                        <p class="text-center card-text">A callback function is a piece of JavaScript code that executes after the main function that the callback is attached to executes successfully.<br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="border-color:#182b52;">
                    <div class="card-body" style="min-height:315px;">
                        <h6 class="text-center text-muted card-subtitle mb-2" style="font-size:14px;">USER.THIS OF THE DAY</h6>
                        <h4 class="text-center card-title" style="color:#182b52;">AUSTIN12</h4>
                        <p class="text-center card-text">Biology teacher in small independent school. Successfully develop marine biology curriculum for grades 5-8.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Submit Modal New Entry -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>New Entry:</h4>
<!-- Submit Modal New Entry Form-->
                <form  id="valOne" action="/index/create" method="POST" name="valOne">
                    {{!-- <textarea id="textarea1" class="materialize-textarea" name="entry" id="entry"></textarea> <label for="textarea1">Textarea</label> --}}
                    <input type="text" class="form-control validate" name="entry" value="" id="entry" placeholder="Keyword/Phrase">
                    <input type="text" class="form-control" name="userId" value="" id="userId" placeholder="User Name">
                    <input type="text" class="form-control" name="context" value="" id="context" placeholder="Context" type="email" class="validate">
                    <input type="text" class="form-control validate" name="contextLink" value="" id="contextLink" placeholder="Context Link" type="url" data-error="wrong" data-success="right">
				    {{!-- <button  class="btn btn-primary" id="text-enter-button">Submit</button> --}}
			    </form>
        </div>
        <div class="modal-footer">
        <a href="#!" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
        </div>
    </div>



<!-- Submit Modal New Reply -->
    <div id="modal2" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>New Reply:</h4>
<!-- Submit Modal New Entry Form-->
                <form action="/index/reply" method="POST">
                    Characters Remaining:<span class="char-count">420</span>
                    <textarea id="textarea1" data-length=420 class="materialize-textarea" name="entry" id="entry" placeholder="Write the Defintion here"></textarea>
                    <input type="text" class="form-control" name="en" value="" id="entry" placeholder="Keyword/Phrase">
                    <input type="text" class="form-control" name="userId" value="" id="userId" placeholder="User Name">
                    <input type="text" class="form-control" name="context" value="" id="context" placeholder="Context If Applicable">
                    <input type="text" class="form-control" name="contextLink" value="" id="contextLink" placeholder="Context Link If Applicable">
				    {{!-- <button  class="btn btn-primary" id="text-enter-button">Submit</button> --}}
			    </form>
        </div>
        <div class="modal-footer">
        <a href="#!" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
        </div>
    </div>